h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0px;
  font-weight: 800;
}

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin: 2rem 0px;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 2rem 0px;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 2rem 0px;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 1.75em;
  font-weight: 100;
  margin: 1rem 0rem;
}

strong {
  font-weight: 700;
}

ul,
ol {
  padding-left: 2rem;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0px;
  font-weight: 100;
}

ol {
  list-style-type: decimal;
}

li {
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  font-weight: 400;
  color: inherit;
}

a:visited {
  color: inherit;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

.callout {
  padding: 1rem;
  background: rgba(135, 131, 120, 0.15);
  border-radius: 4px;
  margin: 1rem 0rem;

  display: flex;
  gap: 1rem;
}

.callout p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.callout .emoji {
  margin-top: 4px;
}
