code {
  padding: 0.2em 0.4em;
  background: rgba(135, 131, 120, 0.15);
  border-radius: 4px;
  color: #eb5757;

  font-size: 0.75rem;
  font-family: Open Sans;
  font-weight: 400;
}

pre {
  padding: 2rem;
  border-radius: 4px;
  background-color: rgb(25, 25, 25);
  margin: 1rem 0rem;
  overflow-x: auto;
}

pre::-webkit-scrollbar {
  height: 6px;
}

/* Track */
pre::-webkit-scrollbar-track {
  background: rgb(25, 25, 25);
}

/* Handle */
pre::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

.block {
  padding: 0px;
  background-color: inherit;
  border-radius: 0px;
  color: white;
}

.language-bash,
.language-json,
.blockstring,
.blockstring {
  color: #ce9178;
}

.blockkeyword {
  color: #c678dd;
}

.blockcomment {
  color: #7f9f7f;
}

.blockselector-class,
.blocktitle.function_ {
  color: #e5c07b;
}

.blockattribute,
.blockattr,
.blockproperty,
.blockvariable.language_ {
  color: #a0d2ff;
}

.blockname,
.blockliteral,
.blocktitle.class_ {
  color: #569cd6;
}

.blockparams {
  color: #4caf50;
}

.blocknumber {
  color: #5cc84a;
}

.blocktag {
  color: #3b7eae;
}

.blockpunctuation,
.blockbuilt_in {
  color: #f8c94b;
}
